node_modules/
**/node_modules/
dist/
build/
**/dist/
**/build/
.env
.env.local
**/.env
.replit
replit.nix
replit.md
.upm/
.config/
.local/
.vite/
.cache/
**/.cache/
packages/hardhat/artifacts/
packages/hardhat/cache/
*.tsbuildinfo
.DS_Store
